body{
    font-family: arial, sans-serif;
}
.weather-app-wrapper{
    max-width: 600px;
    margin:30px auto;

}

.weather-app{

    padding: 20px;
    border:  1px solid #dadde1;
    border-radius: 5px;
}
#city-input{
        background: #f9f7fe;
    border: none;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 6px;
    color: rgba(39,33,66,.4);
    font-size: 16px;
    height: 40px;
    line-height: 20px;
}
#search-box{
background-color: #885df1;
color: white;
box-sizing: border-box;
border-color: #005cbf;
    background: #885df1;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    height: 40px;}
h1{
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 0;
    font-size: 32x;
    color: #272142;
}
 ul{
     margin: 0;
     padding: 0;
 }
li{
    list-style: none;
    color:#878787 ;
    margin: 0;
    padding: 0;
    font: size 16px;
    font-weight: 100;
    line-height: 19px;
}
li::first-letter{
    text-transform: capitalize;
}


.overview{
    margin-bottom: 20px;
}
.weather-temperature img{
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong{
    color: rgb (33,33,33);
    font-size: 64px;
    line-height: 1;font-weight: 400;

}
.weather-temperature .units{
    position: relative;
    font-size:16px ;
    top: -34px;
}
.float-left{
    float:left;
}
.units a {
    text-decoration: none;
}
.weather-temperature .active{
    color:rgb(33, 33,33);
    cursor: default;
}
.weather-temperature .active :hover{
    text-decoration: none;
}
small{
    color:rgba(39,33,66,.4)
}
.weather-forecast{
    margin-top: 20px;
    text-align: center;
    color: black;
}
.weather-forecast-date{
    font-size: 16px;
    opacity: 0.5;
    
}
.weather-forecast-temperature{
    font-size: 13px;
}
.weather-forecast-temperature-min{
    opacity: 0.5;
}